#header-wrapper {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(61, 61, 61, 0.7);
  transition: all 0.4s ease-in-out;
  z-index: 1000;

  #header {
    height: 100px;
    position: relative;
    transition: all 0.4s ease-in-out;

    #logo {
      width: 290px;
      height: 60px;
      margin: 0;
      padding: 0;
      left: 20px;
      top: 20px;
      position: absolute;
      overflow: hidden;
      background-image: url("../images/logo-light-h.png");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 0.4s ease-in-out;

      a {
        width: 290px;
        height: 60px;
        margin: 0;
        padding: 0;
        display: block;
        text-indent: -9999px;
      }
    }

    #nav {
      > ul {
        margin: 0;
        padding: 0;
        right: 20px;
        top: 30px;
        position: absolute;
        transition: all 0.4s ease-in-out;
      }

      > ul {
        list-style: none;

        > li {
          margin-right: 8px;
          padding: 0;
          display: inline-block;

          &:last-of-type {
            margin: 0;
          }
        }

        > li {
          border-radius: 4px;
          font-family: 'Lato', sans-serif;
          font-size: 19px;
          font-weight: 700;
          text-shadow: 1px 1px 1px #000000;
          olor: #ffffff;

          a {
            padding: 10px 12px;
            display: inline-block;
            text-decoration: none;
            color: #ffffff;

            &:hover {
              color: #fef978;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }

  &.small-header {
    height: 50px;
    background-color: rgba(61, 61, 61, 0.98);

    #header {
      height: 50px;

      #logo {
        height: 38px;
        top: 6px;
      }
      #nav > ul {
        top: 5px;
      }
    }
  }
}
