@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,300,700,500italic,300italic,400&subset=latin,latin-ext);

body {
  background-color: #f0f0f0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@import "header";

#about_us {
  height: 1500px;
  background-color: #138c66;

  .splash-wrapper {
    min-height: 768px;
    padding: 520px 0 0;
    position: relative;
    background-color: #1c1c1c;
    background-image: url("../images/splash.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -8px 50px -5px rgba(50, 50, 50, 0.75);
    z-index: 10;

    &::after {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      display: block;
      background-color: rgba(0, 0, 24, 0.25);
      content: '';
      z-index: -1;
    }

    .splash {

      .shadow-text {
        background-color: #242426;
        background-color: rgba(36, 36, 38, 0.7);
        box-shadow: -10px 0 0 0 rgba(36, 36, 38, 0.7), 10px 0 0 0 rgba(36, 36, 38, 0.7);
      }

      h1, h2, h3, h4, h5, h6, p {
        width: 75%;
        line-height: 27px;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 400;
        color: #ffffff;
        z-index: 20;
      }

      h1, h2, h3, h4, h5, h6 {
        width: 75%;
        margin: 0 0 10px 0;
        line-height: 77px;
        font-size: 64px;
        font-weight: 300;
        color: #ffffff;
      }
    }
  }
}