@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,300,700,500italic,300italic,400&subset=latin,latin-ext);

body {
  background-color: #f0f0f0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@import "header";

#about_us {
  width: 100%;

  .splash-wrapper {
    min-height: 768px;
    padding: 520px 0 0;
    position: relative;
    background-color: #1c1c1c;
    background-image: url("../images/splash.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px -8px 50px -5px #000000;
    z-index: 10;

    &::after {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      display: block;
      background-color: rgba(0, 0, 24, 0.25);
      content: '';
      z-index: -1;
    }

    .splash {

      .shadow-text {
        background-color: #242426;
        background-color: rgba(36, 36, 38, 0.7);
        box-shadow: -10px 0 0 0 rgba(36, 36, 38, 0.7), 10px 0 0 0 rgba(36, 36, 38, 0.7);
      }

      h1, h2, h3, h4, h5, h6, p {
        width: 75%;
        line-height: 27px;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        font-weight: 400;
        color: #ffffff;
        z-index: 20;
      }

      h1, h2, h3, h4, h5, h6 {
        width: 75%;
        margin: 0 0 10px 0;
        line-height: 77px;
        font-size: 64px;
        font-weight: 300;
        color: #ffffff;
      }
    }
  }
}

#schedule-wrapper {
  width: 100%;
  display: table;
  background-color: #138c66;

  #schedule {
    padding: 52px 0 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 1px 1px 0px #000000;
    color: #ffffff;

    h1 {
      height: 80px;
      margin-bottom: 20px;
      line-height: 80px;
      font-size: 64px;
      font-weight: 400;
    }

    table {
      width: 100%;
      min-height: 280px;
      margin: 20px 0;
      background-color: #138c66;

      tr {
        > th, > td {
          width: 20%;
          border: 2px solid lighten(#138c66, 15%);
        }

        > th {
          padding: 8px 6px;
          background-color: lighten(#138c66, 5%);
          border-bottom: 2px solid lighten(#138c66, 15%);
          font-size: 28px;
          font-weight: 700;
          font-style: italic;
          text-align: center;
          color: lighten(#138c66, 65%);
        }

        > td {
          padding: 10px 10px 0;
          text-align: left;

          &.blank {
            vertical-align: middle;
            text-align: center;
            font-style: italic;
            font-weight: 700;
          }

          .exercise {
            margin-bottom: 6px;
            padding: 6px 8px;
            display: block;

            > .time {
              font-weight: 700;
              font-style: italic;

              &::after {
                content: " - ";
              }
            }

            > .type {
              font-weight: 700;
              font-style: italic;
            }

            &.c1 {
              background-color: #b06257;
            }

            &.c2 {
              background-color: #436ec9;
            }

            &.c3 {
              background-color: #c8ba4b;
            }

            &.c4 {
              background-color: #79ce56;
            }

            &.c5 {
              background-color: #bc5fc9;
            }

            &.c6 {
              background-color: #43ceb9;
            }
          }
        }
      }
    }
  }
}

#contact-wrapper {
  width: 100%;
  min-height: 130px;
  background-color: #efefef;
  border-top: 1px solid #ffffff;
  box-shadow: inset 0 6px 15px -10px #9b9b9b;

  a {
    text-decoration: none;
    color: #3b5998;

    &:hover {
      color: #ff444d;
    }
  }

  #contact {
    padding: 12px 0 30px;
    font-family: 'Roboto', sans-serif;
    color: #222222;

    h1 {
      height: 80px;
      margin-bottom: 20px;
      line-height: 80px;
      font-size: 64px;
      font-weight: 400;
      text-shadow: 1px 1px 0px #ffffff;
      color: #ff444d;
    }

    .info {
      font-size: 16px;
      font-weight: 400;
      text-shadow: 1px 1px 0px #ffffff, 2px 2px 1px #ffffff;
      color: #444444;

      span.logo {
        width: 282px;
        height: 60px;
        margin-bottom: 10px;
        display: block;
        background-image: url("../images/logo-h.png");
        background-position: left center;
        background-repeat: no-repeat;
        text-indent: -9999px;
        opacity: 0.88;
      }

      .fb-like-box {
        margin-top: 10px;
        margin-left: -10px;
      }

      h1, h3, h4, h5, h6 {
        line-height: 36px;
        margin-bottom: 18px;
        font-size: 32px;
        font-weight: 700;
      }

      p {
        line-height: 26px;
        font-size: 24px;
        font-weight: 700;

        strong {
          width: 92px;
          display: inline-block;
          font-weight: 700;
        }
      }
    }

    .contact-map {
      width: 100%;
      height: 450px;
    }
  }
}

@import "footer";
